# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Large local data (not meant for the GitHub repo)
data/AML_domain
data/tier1
data/tier2

TODO.md

notebooks/dev/
